body{
    background-color: antiquewhite;
    margin: 0;
    padding-bottom: 100px;
    border: groove 8px red;
    border-width: 1cm;
    overflow: auto;
    display: block;
}

h1{
    color: blue;
}

img{
    transform:rotate(45deg);
    rotate: 15deg;
    margin-top: 200px;
    width: 150px;
    height: 100px;
}

img:hover{
    width: 1000px;
    height: 500px;
    transition: 2s ease 0.01s;
    transform: rotate(330deg);
} 

